$primary-color: #1E1E51;
$light-grey-color: #828282;
$flamingo-color: #EB575770;
$secondary-color:#419ECF;
$black-color:#000000;
$Eucalyptus-color:#27A360;
$Sea-Buckthorn-color:#F2994A;
$Topaz-color:#828185;
$silver-color:#C4C4C4;
$white-smoke-color:#F1F1F1;
$white-color:#FFFFFF;
$summer-sky-color:#419ECF;
$dim-gray-color:#666666;
$Medium-Sea-Green:#28B463;
$whisper:#ECECEC;
$Light-Slate-Grey:#748AA1;
$lapis-blue-opacity:#24258235;
$lapis-blue:#242582;
$red-color:#ff0000;
$silver-chalice:#B0A7A7;
$french-blue:#0079C2;
$ironside-gray:#6A6565;
$white-smoke:#F6F6F6;
$quill-gray:#D4D4D4;
$carbon-gray:#665D5D;
$candlelight:#FEDB17;