@use "../abstract/colors" as *; // <- imports all variables
@use "../abstract/fonts" as *;
.submit-btn{
    border: 1px solid $black-color;
    width: 100px;
    border-radius: 5px;
    background-color: $primary-color;
    color: $white-color;
    @include open-sans-medium;
    margin-top: 20px;
    &:hover{
        background-color: $Medium-Sea-Green ;
    }
}

.signup-btn{
    border: 1px solid $black-color;
    width: 100px;
    border-radius: 5px;
    background-color: $primary-color;
    color: $white-color;
    @include open-sans-medium;
    margin-right: 10px;
    &:hover{
        background-color: $Medium-Sea-Green ;
    }
}

.login-btn{
    border: 1px solid $black-color;
    width: 100px;
    border-radius: 5px;
    background-color: $primary-color;
    color: $white-color;
    @include open-sans-medium;
    margin-left: 10px;
    &:hover{
        background-color: $Medium-Sea-Green ;
    }
}